body{
margin:0;
font-family: "acumin-pro", sans-serif;
background:#00ffc3;
color:#ff005d;
}
.container{
max-width:1000px;
margin:auto;
padding:60px;
text-align:center;
}
.sub{
opacity:0.7;
}
.box{
background:#111;
padding:20px;
margin:20px;
}
input{
width:90%;
padding:15px;
margin:5px;
background:#000;
border:1px solid #333;
color:white;
}
button{
width:100%;
padding:12px;
margin-top:10px;
border:none;
cursor:pointer;
background:linear-gradient(90deg,#00ffc3,#ffff00,#ff005d);
color:black;
font-weight:bold;
}